.articles {
    background-color: $veryLightGrey;
}
.article_content {
    margin-top: 25px;
    justify-content: space-between;

    @media screen and (max-width: 550px) {
        justify-content: center;
    }
}

.article_block {
    flex: 1;
    margin: 0 10px;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;

    @include responsive-blocks;

    @media screen and (max-width: 900px) {
        flex: none;
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 10px;
    }
}

.author {
    margin: 10px 0;
}

.article_excerpt {
    padding: 20px;
}