.content {
    background-color: $lightGreyishBlue;

    @media screen and (max-width: 550px) {
        text-align: center;
    }
}

.content_header {
    width: 70%;
    margin-bottom: 50px;

    @media screen and (max-width: 550px) {
        width: 100%;
    }
}

.content_feature {
    justify-content: space-between;
}

.feature-block {
    padding: 10px 15px;
    width: 25%;
    opacity: 0;

    @include responsive-blocks;

    @media screen and (max-width: 550px) {
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
    }
}

.feature-block:last-of-type {
    @media screen and (max-width: 550px) {
        margin-bottom: 0;
    }
}

.icon-container {
    margin-bottom: 15px;
}

.show-features {
    .feature-block {
        opacity: 1;
        transition: opacity 1s ease-in;
    }
}