* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Public Sans', sans-serif;
}

body {
    padding: 0 20px;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Button styles
.button {
    width: 150px;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    text-align: center;
}

.cta {
    background: #31d35c;
    color: #fff;
}