.content {
    background-color: $lightGreyishBlue;
}

.content_header {
    width: 70%;
    margin-bottom: 50px;
}

.content_feature {
    justify-content: space-between;
}

.feature-block {
    padding: 10px 15px;
    width: 25%;

    @include responsive-blocks;

    p {
        font-size: 16px;
    }
}

.icon-container {
    margin-bottom: 15px;
}