footer {
    background-color: $darkBlue;
    padding: 20px 0;
    color: $white;

    a {
        color: $white;
        display: block;
        margin: 15px;
    }
}

.footer-content {
    justify-content: space-between;
}

.copyrights {
    color: $greyishBlue;
    margin-top: 20px;
}