footer {
    background-color: $darkBlue;
    padding: 20px 0;
    color: $white;
    
    a {
        display: inline-block;
    }
}

.social {
    margin-top: 50px;

    a {
        margin-right: 15px;
    }
}

.links {
    a {
        color: $white;
        display: block;
        margin: 15px;
    }
}

.footer-primary {
    flex-grow: 2;
}

.footer-secondary {
    flex-grow: 1;
    text-align: right;
}

.copyrights {
    color: $greyishBlue;
    margin-top: 20px;
}