footer {
    background-color: $darkBlue;
    padding: 20px 0;
    color: $white;
    
    @media screen and (max-width: 700px) {
        text-align: center;
    }

    a {
        display: inline-block;
    }

    .flex {
        @media screen and (max-width: 700px) {
            display: block;
        }
    }

    img {
        margin: auto;
    }
}

.social {
    margin-top: 50px;

    @media screen and (max-width: 700px) {
        margin: 30px 0;
    }

    a {
        margin-right: 15px;

        @media screen and (max-width: 700px) {
            margin: 0 15px;
        }
    }
}

.links {
    flex-grow: 2;
    
    a {
        color: $white;
        display: block;
        margin: 15px 0;
    }
}

.footer-primary {
    flex-grow: 2;
}

.footer-secondary {
    flex-grow: 1;
    text-align: right;

    @media screen and (max-width: 700px) {
        text-align: center;
    }

    button {
        @media screen and (max-width: 700px) {
            margin-top: 20px;
        }    
    }
}

.copyrights {
    color: $greyishBlue;
    margin-top: 40px;
}