header {
    padding: 10px 0;
    background-color: $white;
    position: relative;
    z-index: 2;
}

.header-container {
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 900px) {
        height: 50px;
    }
}

.nav-wrapper {
    @media screen and (max-width: 900px) {
        width: 100%;
        position: absolute;
        width: 90%;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: none;

        &.open {
            display: block;
        }
    }
}

.navigation {
    display: flex;
    justify-content: center;

    a {
        color: $greyishBlue;
        padding: 0 10px;
        margin: 0 10px;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        background: $white;
        padding: 20px 0;
        text-align: center;
        border-radius: 8px;

        li {
            padding: 10px 0;
        }
    }
}

.header-action {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.menu-button {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.mobile-nav {
    display: none;

    @media screen and (max-width: 900px) {
        display: block;
    }
}